:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --page-footer-color: #2f303a;
}
/* ВСЯ СТРАНИЦА */
body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-style: normal;

  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list.nav {
  display: flex;
}

/* h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
} */
/* .list.nav .navi {
  margin-right: 50px;

  outline: 1px solid green;
} */
/* .list.nav .navi:last-child {
  margin-right: 0;
} */

/* .list.nav .navi:not(:last-child) {
  margin-right: 50px;
} */

.list.nav .navi + .navi {
  margin-left: 50px;
}

.list.address {
  display: flex;
  margin-left: auto;
}
.list.address .navi + .navi {
  margin-left: 50px;
}

.nav {
  display: flex;
  align-items: center;
}

.container.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ЛОГОТИП хедер и футер*/

.logo {
  color: #212121;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

  /* margin-right: 93px;
  margin-left: 215px; */
}
.web {
  color: #2196f3;
}

/* ШАПКА */
.link-page {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.link-page:hover,
.link-page:focus {
  color: var(--accent-color);
}
.link-page.current {
  color: var(--accent-color);
}
.link-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;

  /* padding-top: 32px;
  padding-bottom: 32px; */
}
.link-contacts:hover,
.link-contacts:focus {
  color: var(--accent-color);
}

.page-header {
  border: 1px solid #ececec;
}
/* MAIN */

.hero {
  text-align: center;
  /* margin-bottom: 94px; */
  /* outline: 1px solid red; */
  padding-bottom: 200px;
  padding-top: 200px;

  background-color: var(--page-footer-color);
}
.link {
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.85;
  /* text-align: center; */
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  text-decoration: none;

  padding: 11px 34px;
  display: inline-block;
  min-width: 200px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  /* outline: 2px solid green; */
}

.main {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #fff;

  margin-top: 0;
  margin-bottom: 30px;

  /* outline: 2px solid red; */
}

.features {
  padding-bottom: 94px;
  padding-top: 94px;

  /* outline: 2px solid aqua; */
}
.list.feat {
  display: flex;
  /* padding-top: 94px;
  justify-content: space-between; */
}

.list.feat .flex + .flex {
  margin-left: 30px;
  /* max-width: 270px; */
}
.flex {
  max-width: 270px;
}
.list.features .flex {
  width: 270px;
}

.main-features {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 10px;
}
.text-features {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.74;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);

  margin-top: 0;
  margin-bottom: 0;
}

.list.heading {
  display: flex;
  /* justify-content: center; */
}
.item-heading {
  width: 370px;
}
.list.heading .item-heading + .item-heading {
  margin-left: 30px;
}
.section-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);

  margin-top: 0;
  margin-bottom: 50px;
}
.section-heading-class p {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  /* text-align: center; */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.section-heading-class {
  padding-bottom: 94px;
  /* padding-top: 94px; */

  /* outline: 1px solid pink; */
}

.list .heading-class {
  margin-top: 0;
  margin-bottom: 0;
}
.section-team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;

  /* outline: 1px solid blue; */
}
.list.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.item-team {
  text-align: center;
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.item-team + .item-team {
  margin-left: 30px;
}
.item-team .pic {
  margin-bottom: 30px;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* text-align: center; */
  letter-spacing: 0.03em;

  margin-bottom: 10px;
}
.work {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);

  margin-bottom: 16px;
}

/* PORTFOLIO */
.filter-btn {
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;

  padding: 6px 22px;
  display: inline-block;
  min-width: 73px;
}
.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* .container.btn {
  padding-bottom: 50px;
} */

.filter-section {
  padding-top: 94px;
  padding-bottom: 94px;

  /* outline: 2px solid yellowgreen; */
}

.list.filter {
  display: flex;
  /* padding-top: 94px; */
  justify-content: center;
}

.list.filter .filter-flex + .filter-flex {
  margin-left: 8px;
}

/* .list.container img {
  margin-bottom: 20px;

  outline: 1px solid yellow;
} */
.list.container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
}
/* .list.container {
  justify-content: center;
} */

.item-company {
  width: 370px;
  justify-content: center;
  border: 1px solid #eeeeee;
  /* outline: 2px solid tomato; */

  margin-right: 30px;
  margin-bottom: 30px;
}
.item-company:nth-child(3n) {
  margin-right: 0;
}

.item-company img {
  padding-right: 2px;
}

.company {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);

  margin-left: 24px;
  margin-top: 20px;
  margin-bottom: 4px;
  /* outline: 1px solid red; */
}
.company-filter {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);

  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 24px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* footer */
.footer {
  background-color: var(--page-footer-color);
}

.container.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo.down {
  color: #ffffff;
  /* margin-bottom: 20px; */
}
.maps {
  margin-bottom: 20px;
}
.link-contacts.down {
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.03em;

  /* margin-bottom: 9px; */
}
.margin {
  margin-bottom: 9px;
}
.link-contacts.down.address {
  color: #ffffff;
}
.link-contacts.down.address:hover,
.link-contacts.down.address:focus {
  color: var(--accent-color);
}
