:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --page-footer-color: #2f303a;
}
/* ВСЯ СТРАНИЦА */
body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-style: normal;

  margin-left: auto;
  margin-right: auto;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* ЛОГОТИП хедер и футер*/

.logo {
  color: #212121;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.web {
  color: #2196f3;
}

/* ШАПКА */
.link-page {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}
/* .container.header {
  margin-bottom: 200px;
} */

.link-page:hover,
.link-page:focus {
  color: var(--accent-color);
}
.link-page.current {
  color: var(--accent-color);
}
.link-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
}
.link-contacts:hover,
.link-contacts:focus {
  color: var(--accent-color);
}

/* MAIN */
/* .page-header {
  background-color: salmon;
} */

.hero {
  text-align: center;
  margin-bottom: 94px;
}
.button {
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.85;
  /* text-align: center; */
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  text-decoration: none;

  padding: 11px 34px;
  display: inline-block;
  min-width: 200px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  outline: 2px solid aqua;
}

.item {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: goldenrod;

  margin-top: 0;
  margin-bottom: 30px;

  /* outline: 2px solid red; */
}
.item-features {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 10px;
}
.text-features {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.74;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);

  margin-top: 0;
  margin-bottom: 0;
}

.section-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);

  margin-top: 0;
  margin-bottom: 50px;
}
.section-heading-class p {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  /* text-align: center; */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.heading-class {
  margin-top: 0;
  margin-bottom: 0;
}
.team {
  background-color: #f5f4fa;
}
.pic {
  margin-bottom: 30px;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* text-align: center; */
  letter-spacing: 0.03em;

  margin-bottom: 10px;
}
.work {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* PORTFOLIO */
.filter-btn {
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;

  padding: 6px 22px;
  display: inline-block;
  min-width: 73px;
}
.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
.list.container img {
  margin-bottom: 20px;

  outline: 1px solid yellow;
}
.company {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);

  margin-top: 0;
  margin-bottom: 4px;
  outline: 1px solid red;
}
.company-filter {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);

  margin-top: 0;
  margin-bottom: 0;
}

/* footer */
.container.footer {
  background-color: var(--page-footer-color);
}
.logo.down {
  color: #ffffff;
  margin-bottom: 20px;
}
.link-contacts.down {
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.03em;

  margin-bottom: 9px;
}
.link-contacts.down.address {
  color: #ffffff;
}
.link-contacts.down.address {
  margin-bottom: 9px;
}
.link-contacts.down.address:hover,
.link-contacts.down.address:focus {
  color: var(--accent-color);
}
